{% load staticfiles %}
<html>
    <head>
        <title>Adnan's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Lateef|Rock+Salt" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div>
          {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
          <h1 class="title container-fluid"><a href="/">Adnan's Blog</a></h1>
        </div>
        <div class="container content">
          <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
        <div class="container-fluid social_media">
          <p>Connect with me on following platforms:-</p>
          <a href="https://www.instagram.com/adnanpw19/" target="_blank"<i class="icon-buttons fa fa-instagram fa-3x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Adnanpen119" target="_blank"<i class="icon-buttons fa fa-twitter fa-3x" aria-hidden="true"></i></a>
          <a href="https://www.quora.com/profile/Adnan-Pen" target="_blank"<i class="icon-buttons fa fa-quora fa-3x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/adnan-pen-51756413b/" target="_blank"<i class="icon-buttons fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        </div>
    </body>
</html>
