h1 a {
    color: #30303c;
}
body {
    align: 'center';
}
.title{
  font-family: 'Rock Salt',cursive;
  font-size: 55px;
  background-color: #dafff4;
  margin: 0px 0px 10px 0px;
  padding: 35px 20px 35px 50px;
}

.post-title{
  font-family: 'Devonshire',cursive;
  font-size: 50px;
  margin-right: 30px;
}

.post-content{
  font-family: 'Lateef',cursive;
  font-size: 35px
}

.content {
    margin-left: 40px;
}

.date {
    color: #928282;
}

..post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.save {
  float:right;
}

.social_media {
  background-color: #dafff4;
  font-size: 25px;
  padding: 20px 20px 20px 20px;
  position:relative;
  bottom:0;
  width:100%;
  font-family: cursive;
  color: black;

}

.icon-buttons{
  display : inline-block;
  padding: 5px 5px 5px 5px;
  float: left;
  color: black;
  margin: 0 15px 0 15px;
}
